body{
	width: 940px;
	margin-right: auto;
	margin-left: auto;
	font-family: sans-serif;
	background-image: url(img/planos-background.png);
}
h1{
	text-align: center;
	color: #555;
	background-color: #E1EDF2
	padding: 10px;
}
h2{
	text-align: center;
	border-bottom: 4px solid black;
	font-size: 24px;
}
figure{
	background-color: whitesmoke;
	text-align: center;
	color: grey;
	border: 1px solid lightgrey;
	padding: 15px;
	margin: 30px;
}
figcaption{
	margin-top: 10px;
}